<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tweet Visualizer</title>

    <link rel="stylesheet" href="css/hashtags.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <div class="menu">
            {{#each hashtagsToTrack}}
            {{#active this ../hashtagsInGroup}}
                {{#if @active}}
                    <div id="{{this}}" class="hashtag">
                {{else}}
                    <div id="{{this}}" class="hashtag" style="visibility:hidden;">
                {{/if}}
            {{/active}}
                <span class="swatch {{this}}"></span><span>#{{this}}</span>
            </div>
            {{/each}}
        </div>
        <h1>Tweet Visualizer</h1>
    </header>
    <div class="container">
        <div class="area"></div>
    </div>

    <script>
        var pubnubConfig = {
            subscribeKey: '{{config.pubnub.subscribe_key}}'
        };
        var channelGroup = '{{config.channelGroup}}';
        var channelUpdates = '{{config.channelUpdates}}';
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.0.6.min.js"></script>
    <script src="js/index.js"></script>

</body>
</html>